.undevoured, .devoured {
    float: left;
    width: 50%;
}


.addBurger {
    clear: both;
}

.container {
    margin: 50px auto;
    padding: 20px;
    width: 60%;
    text-align: center;
}

*{
    background-color: darkgoldenrod;
}

li {
    list-style-type: none;
}